body.index {   
    background-image: url(/assets/img/index/bg_paper01.png); 
    .slide {
        width: 100%;
        height: 730px;
        &__wrap {
            width: 100%;
            list-style-type: none;
            position: relative;
            & >li {
                opacity: 0;
                position: absolute;
                transition: opacity 0.4s ease-in-out;
            }
            & > li.slide__show {
                opacity: 1;
            }
            & > li > img {
                width: 100%;
                height: auto;
            }
        }
        &__mark {
            position: absolute;
            width: 20%;
            height: auto;
            top: 634px;
            right: 33px;
        }
    }

    .top {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 64px;
        letter-spacing: 0.05em;
        font-family: 'Arvo', serif;
        font-weight: 700;
        line-height: 0.9em;
        color: $orange;
    }



    .arrow {
        display: block;
        margin: 0 auto;
        width: 14px;
        height: 14px;
        border-bottom: 3px solid #000;
        border-right: 3px solid #000;
        transform: rotate(45deg);
        margin-top: 28px;
        margin-bottom: 40px;
    }

    .news {
        h2 {
            text-align: center;
            padding-top: 15px;
            padding-bottom: 10px;
            img {
                width: 50%;
            }
        }
        dl {
            border-bottom: dotted 1px $black;
            position: relative;
            &:nth-child(4) {
                border: 0;
            }
        }
        time {
            display: block;
            font-size: 10px;
            font-weight: 700;
            padding-bottom: 8px;
            padding-top: 15px;
        }
        dt {
            display: inline-block;
            background-color: $orange;
            color: #ffffff;
            font-size: 12px;
            font-weight: 550;
            padding: 3px 5px;
            margin-bottom: 10px;
        }
        dd {
            font-size: 12px;
            line-height: 1.5em;
            font-weight: 600;
            padding-bottom: 15px;

        }
        .readmore_top {
            width: 100%;
            padding-top: 5%;
            background-repeat: no-repeat;
            background-position: 100%;
            background-size: contain;
            background-image: url(/assets/img/index/readmore_03.png);
            -webkit-transition: all .5s ease;
            transition: all .5s ease;
        }
        &__list {
            display: block;
            position: relative;
            width: 270px;
            text-align: center;
            text-decoration: none;
            color: #1B1B1B;
            border:1px solid #1B1B1B;
            margin: 20px auto;
            margin-bottom: 140px;
            background-color: transparent;
            padding: 6px 40px;
            a {
                text-decoration: none;
                color: $black;
                width: 200px;            
            }
        }
        .morebtn>span {
            display: inline-block;
            padding-right: 40px;
            position: relative;
            vertical-align: baseline;
            font-size: 13px;
            font-weight: 700;
            -webkit-transition: all .4s linear;
            transition: all .4s linear;
            font-size: 3.5vw;
        }
        .morebtn>span:after, .morebtn>span:before {
            content: "";
            display: inline-block;
            position: absolute;
            -webkit-transition: all .5s;
            transition: all .5s;
        }
        .morebtn>span:before {
            width: 15px;
            border-top: 1px solid #000;
            top: 50%;
            right: 10px;
        }
        .morebtn>span:after {
            width: 7px;
            height: 7px;
            border-bottom: 1px solid #000;
            border-right: 1px solid #000;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }
        .morebtn>span:after, .morebtn>span:before {
            content: "";
            display: inline-block;
            position: absolute;
            -webkit-transition: all .5s;
            transition: all .5s;
        }


        &__img {

            img {
                position: relative;
                width: 79%;
            }
        }
        &__en {
            top:20px;
            img {
                position: absolute;
                width: 50%;
                right: 0;
                bottom: -825px;
            }
        }
    }

    .greeting {
        &__wrap {
            background: linear-gradient(90deg, #F8DDC5 0%, #F8DDC5 50%, transparent 50%, transparent 100%);
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 415px;
        }
        &__list {
            display: block;
            position: relative;
            width: 270px;
            text-align: center;
            text-decoration: none;
            color: #1B1B1B;
            border:1px solid #1B1B1B;
            margin: 20px auto;
            margin-bottom: 140px;
            background-color: transparent;
            padding: 6px 40px;
            a {
                text-decoration: none;
                color: $black;
                width: 200px;            
            }
        }
        img {
            width: 90%;
        }
        h2 {
            width: 52%;
            padding-top: 50px;
        }
        h5 {
            width: 20%;
            padding-top: 5px;
        }
        p {
            font-size: 12.5px;
            font-weight: 550;
            line-height: 2.1em;
            letter-spacing: 0.1em;
            padding-top: 20px;
        }
        &__en {
            img {
                padding-top: 60px;
                width: 70%;
            }
        }
    }
    .outline {
        position: relative;
        h2 {
            text-align: center;
            padding-top: 35px;
            padding-bottom: 20px;
            img {
                width: 42%;
            }
        }
        dl {
            font-size: 12px;
            font-weight: 600;
        }
        dt {
            float: left;
            width: 70px;
        }
        dd {
            margin-left: 80px;
            padding-bottom: 10px;
        }
        &__img {
            margin-top: 65px;
            background: linear-gradient(90deg, #F8DDC5 0%, #F8DDC5 90%, transparent 50%, transparent 100%);
            height: 343px;
            img {
                width: 70.5%;
                float: right;
                padding-top: 50px;
            }
        }
        &__en {
            top:20px;
            img {
                position: absolute;
                width: 70%;
                bottom: 1px;
            }
        }
        &__list {
            display: block;
            position: relative;
            width: 270px;
            text-align: center;
            text-decoration: none;
            color: #1B1B1B;
            border:1px solid #1B1B1B;
            margin: 20px auto;
            margin-bottom: 140px;
            background-color: transparent;
            padding: 6px 40px;
            a {
                text-decoration: none;
                color: $black;
                width: 200px;            
            }
        }
    }
    .branding {
        &__book {
            img {
                padding-top: 2px;
                width: 90%;
                float: right;
            }
        }
        &__bg {
            background: linear-gradient(90deg, #F8DDC5 0%, #F8DDC5 75%, transparent 25%, transparent 100%);
        }
        h2 {
            padding-bottom: 20px;
            img {
                padding-top: 70px;
                width: 52%;
            }
        }
        &__page {
            img {
                width: 100%;
            }
        }
        ul {
            display: flex;
        }
        &__li {
            width: 31%;
        }
        li {
            p {
                font-size: 12px;
                line-height: 1.5em;
                font-weight: 600;
                padding-bottom: 5px;
            }
            
            &:nth-child(1){
                padding-top: 20px;
                img {
                    width: 125%;
                }
            }
            &:nth-child(2){
                padding-left: 60px;
                padding-top: 20px;
                width: 60%;
            }
        }
        &__list {
            display: block;
            position: relative;
            width: 270px;
            text-align: center;
            text-decoration: none;
            color: #1B1B1B;
            border:1px solid #1B1B1B;
            margin: 20px auto;
            margin-bottom: 140px;
            background-color: transparent;
            padding: 6px 40px;
            a {
                text-decoration: none;
                color: $black;
                width: 200px;            
            }
        }
        &__en {
            position: relative;
            top:20px;
            img {
                position: absolute;
                width: 75%;
                right: 0px;
                bottom: 20px;
            }
        }
    }
    .recruit {
        &__img {
            text-align: right;
            img {
                width: 80%;
                padding-top: 2px;
            }
        }

        h2 {
            img {
                padding-top: 25px;
                width: 53%;
            }

        }
        p {
            padding-top: 20px;
            padding-bottom: 20px;
            font-size: 13px;
            letter-spacing: 0.12em;
            font-weight: 550;
            line-height: 1.5em;
        }
        ul {
            display: flex;
            text-align: center;
            img {
                width: 90%;
            }
        }
        &__en {
            position: relative;
            top:20px;
            img {
                position: absolute;
                width: 75%;
                right: 0px;
                bottom: 20px;
            }
        }

    }
    
}


