body.news {
    background-image: url(/assets/img/index/bg_paper01.png);

    .table {
        &__img {
            text-align: center;
            padding-top: 40px;
            padding-bottom: 10px;
            img {
                width: 100%;
            }
        }
        &__back {
            padding-top: 130px;
            img {
            width: 100%;
            }
        }
        &__en {
            padding-top: 80px;
            padding-bottom: 55px;
            img {
                float: right;
                width: 55%;
            }

        }



    }

    
    h2 {
        padding-top: 90px;
        text-align: center;
        img {
            width: 98%;
        }
    }

    time {
    font-size: 10px;
    color: black;
    font-weight: 550;
    
    }
    
    h3 {
        font-size: 15px;
        color: black;
        font-weight: 550;
        padding-top: 10px;
        padding-bottom: 15px;
    }
    p {
        font-size: 12px;
        letter-spacing: 0.1em;
        font-weight: 550;
        color: black;
        line-height: 1.4em;
    }
    










}
