body.slick {
    .slick__wrap {
        max-width: 796px;
        margin: 0 auto;
        padding-top: 40px;
        img {
            width: 100%;
            height: 495px;
        }
        p {
            font-size: 10px;
            letter-spacing: 0.38em;
            padding-bottom: 15px;
        }
        h1 {
            font-size: 25px;
            letter-spacing: 0.45em;
            padding-bottom: 40px;
        }
    }
    .single-item {
        text-align: center;
        li {
            padding-bottom: 30px;
        }
    }

    span {
        border-bottom: 1px solid;
        padding-bottom: 1px;
        font-size: 12px;
    }

}
