@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url(/assets/img/index/bg_paper01.png);
}

hr {
  border: none;
  border-top: 3px #EA5513 solid;
  margin: -2px;
}

.u__line {
  border: none;
  border-top: 11.5px #EA5513 solid;
  margin: -2px;
}

.dot {
  clear: both;
  border-top: 1px dotted black;
  border-right: none;
  border-bottom: none;
  border-left: none;
  padding-bottom: 30px;
}

.inner {
  margin-left: 25px;
  margin-right: 25px;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.footer {
  text-align: center;
  background-color: #808080;
}

.footer__inner {
  max-width: 320px;
  margin: 0 auto;
}

.footer__img {
  padding-top: 60px;
  padding-bottom: 30px;
}

.footer__img img {
  width: 60%;
}

.footer ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer ul img {
  width: 55%;
}

.footer li {
  width: 50%;
}

.footer li img {
  padding-left: 10px;
  border-left: 1px solid #ffffff;
}

.footer__sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.footer__sns img {
  width: 8.5%;
  margin-left: 20px;
  margin-right: 20px;
}

.footer a {
  display: block;
  color: #ffffff;
  font-size: 12px;
  font-weight: 550;
  padding-bottom: 20px;
}

.footer span {
  display: block;
  color: #ffffff;
  font-size: 10.5px;
  font-weight: 550;
  padding-bottom: 40px;
}

.footer__box {
  background-color: #ffffff;
  height: 60px;
  width: 90px;
  margin: 0 auto;
}

.footer__box a {
  display: inline-block;
  width: 10px;
  border-top: 2.3px solid #888888;
  border-left: 2.3px solid #888888;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: 24px;
  padding: 5px;
}

.hamburger {
  background-color: #EA5513;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 99;
  /*メニューボタン*/
}

.hamburger__button {
  display: none;
}

.hamburger__nav li {
  display: inline-block;
  margin: 0 10px;
}

.hamburger__wrap.open {
  display: block;
}

.hamburger__wrap.close {
  display: none;
}

.hamburger__button {
  display: block;
  cursor: pointer;
  margin-top: 12px;
}

.hamburger__wrap {
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  z-index: 10;
  background-color: #808080;
  width: 100%;
  height: 100%;
}

.hamburger__wrap .hamburger__nav {
  height: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

.hamburger__wrap li {
  display: block;
  margin: 1.2em;
  font-family: "Noto Serif JP", serif;
}

.hamburger__wrap li a {
  color: #fff;
  font-size: 25px;
}

.hamburger__sns {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 590px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.hamburger__sns img {
  width: 8.5%;
  margin-left: 10px;
  margin-right: 10px;
}

.hamburger__logo img {
  width: 60%;
  padding-top: 200px;
}

.hamburger__privacy {
  display: block;
  width: 100%;
  position: absolute;
  top: 650px;
  color: #fff;
  font-size: 12px;
  font-weight: 550;
  padding-top: 70px;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hamburger__button,
.hamburger__button span {
  display: inline-block;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hamburger__button {
  z-index: 20;
  position: relative;
  width: 40px;
  height: 36px;
}

.hamburger__button span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
}

.hamburger__button span:nth-of-type(1) {
  top: 0;
}

.hamburger__button span:nth-of-type(2) {
  top: 10px;
}

.hamburger__button span:nth-of-type(3) {
  bottom: 13px;
}

.hamburger__button.active {
  width: 20px;
}

.hamburger__button.active span:nth-of-type(1) {
  -webkit-transform: translateY(16px) rotate(-45deg);
  transform: translateY(16px) rotate(-45deg);
}

.hamburger__button.active span:nth-of-type(2) {
  opacity: 0;
}

.hamburger__button.active span:nth-of-type(3) {
  -webkit-transform: translateY(-2px) rotate(45deg);
  transform: translateY(-4px) rotate(45deg);
}

.readmore {
  color: #EA5513;
  font-weight: 900;
  font-size: 13px;
  float: right;
  padding-top: 10px;
  padding-bottom: 40px;
}

.morebtn > span {
  display: inline-block;
  padding-right: 40px;
  position: relative;
  vertical-align: baseline;
  font-size: 13px;
  font-weight: 700;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
  font-size: 3.5vw;
}

.morebtn > span:after, .morebtn > span:before {
  content: "";
  display: inline-block;
  position: absolute;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.morebtn > span:before {
  width: 15px;
  border-top: 1px solid #000;
  top: 50%;
  right: 10px;
}

.morebtn > span:after {
  width: 7px;
  height: 7px;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.morebtn > span:after, .morebtn > span:before {
  content: "";
  display: inline-block;
  position: absolute;
  -webkit-transition: all .5s;
  transition: all .5s;
}

body.index {
  background-image: url(/assets/img/index/bg_paper01.png);
}

body.index .slide {
  width: 100%;
  height: 730px;
}

body.index .slide__wrap {
  width: 100%;
  list-style-type: none;
  position: relative;
}

body.index .slide__wrap > li {
  opacity: 0;
  position: absolute;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

body.index .slide__wrap > li.slide__show {
  opacity: 1;
}

body.index .slide__wrap > li > img {
  width: 100%;
  height: auto;
}

body.index .slide__mark {
  position: absolute;
  width: 20%;
  height: auto;
  top: 634px;
  right: 33px;
}

body.index .top {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 64px;
  letter-spacing: 0.05em;
  font-family: 'Arvo', serif;
  font-weight: 700;
  line-height: 0.9em;
  color: #EA5513;
}

body.index .arrow {
  display: block;
  margin: 0 auto;
  width: 14px;
  height: 14px;
  border-bottom: 3px solid #000;
  border-right: 3px solid #000;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: 28px;
  margin-bottom: 40px;
}

body.index .news h2 {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 10px;
}

body.index .news h2 img {
  width: 50%;
}

body.index .news dl {
  border-bottom: dotted 1px #000000;
  position: relative;
}

body.index .news dl:nth-child(4) {
  border: 0;
}

body.index .news time {
  display: block;
  font-size: 10px;
  font-weight: 700;
  padding-bottom: 8px;
  padding-top: 15px;
}

body.index .news dt {
  display: inline-block;
  background-color: #EA5513;
  color: #ffffff;
  font-size: 12px;
  font-weight: 550;
  padding: 3px 5px;
  margin-bottom: 10px;
}

body.index .news dd {
  font-size: 12px;
  line-height: 1.5em;
  font-weight: 600;
  padding-bottom: 15px;
}

body.index .news .readmore_top {
  width: 100%;
  padding-top: 5%;
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: contain;
  background-image: url(/assets/img/index/readmore_03.png);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

body.index .news__list {
  display: block;
  position: relative;
  width: 270px;
  text-align: center;
  text-decoration: none;
  color: #1B1B1B;
  border: 1px solid #1B1B1B;
  margin: 20px auto;
  margin-bottom: 140px;
  background-color: transparent;
  padding: 6px 40px;
}

body.index .news__list a {
  text-decoration: none;
  color: #000000;
  width: 200px;
}

body.index .news .morebtn > span {
  display: inline-block;
  padding-right: 40px;
  position: relative;
  vertical-align: baseline;
  font-size: 13px;
  font-weight: 700;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
  font-size: 3.5vw;
}

body.index .news .morebtn > span:after, body.index .news .morebtn > span:before {
  content: "";
  display: inline-block;
  position: absolute;
  -webkit-transition: all .5s;
  transition: all .5s;
}

body.index .news .morebtn > span:before {
  width: 15px;
  border-top: 1px solid #000;
  top: 50%;
  right: 10px;
}

body.index .news .morebtn > span:after {
  width: 7px;
  height: 7px;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

body.index .news .morebtn > span:after, body.index .news .morebtn > span:before {
  content: "";
  display: inline-block;
  position: absolute;
  -webkit-transition: all .5s;
  transition: all .5s;
}

body.index .news__img img {
  position: relative;
  width: 79%;
}

body.index .news__en {
  top: 20px;
}

body.index .news__en img {
  position: absolute;
  width: 50%;
  right: 0;
  bottom: -825px;
}

body.index .greeting__wrap {
  background: -webkit-gradient(linear, left top, right top, from(#F8DDC5), color-stop(50%, #F8DDC5), color-stop(50%, transparent), to(transparent));
  background: linear-gradient(90deg, #F8DDC5 0%, #F8DDC5 50%, transparent 50%, transparent 100%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 415px;
}

body.index .greeting__list {
  display: block;
  position: relative;
  width: 270px;
  text-align: center;
  text-decoration: none;
  color: #1B1B1B;
  border: 1px solid #1B1B1B;
  margin: 20px auto;
  margin-bottom: 140px;
  background-color: transparent;
  padding: 6px 40px;
}

body.index .greeting__list a {
  text-decoration: none;
  color: #000000;
  width: 200px;
}

body.index .greeting img {
  width: 90%;
}

body.index .greeting h2 {
  width: 52%;
  padding-top: 50px;
}

body.index .greeting h5 {
  width: 20%;
  padding-top: 5px;
}

body.index .greeting p {
  font-size: 12.5px;
  font-weight: 550;
  line-height: 2.1em;
  letter-spacing: 0.1em;
  padding-top: 20px;
}

body.index .greeting__en img {
  padding-top: 60px;
  width: 70%;
}

body.index .outline {
  position: relative;
}

body.index .outline h2 {
  text-align: center;
  padding-top: 35px;
  padding-bottom: 20px;
}

body.index .outline h2 img {
  width: 42%;
}

body.index .outline dl {
  font-size: 12px;
  font-weight: 600;
}

body.index .outline dt {
  float: left;
  width: 70px;
}

body.index .outline dd {
  margin-left: 80px;
  padding-bottom: 10px;
}

body.index .outline__img {
  margin-top: 65px;
  background: -webkit-gradient(linear, left top, right top, from(#F8DDC5), color-stop(90%, #F8DDC5), color-stop(50%, transparent), to(transparent));
  background: linear-gradient(90deg, #F8DDC5 0%, #F8DDC5 90%, transparent 50%, transparent 100%);
  height: 343px;
}

body.index .outline__img img {
  width: 70.5%;
  float: right;
  padding-top: 50px;
}

body.index .outline__en {
  top: 20px;
}

body.index .outline__en img {
  position: absolute;
  width: 70%;
  bottom: 1px;
}

body.index .outline__list {
  display: block;
  position: relative;
  width: 270px;
  text-align: center;
  text-decoration: none;
  color: #1B1B1B;
  border: 1px solid #1B1B1B;
  margin: 20px auto;
  margin-bottom: 140px;
  background-color: transparent;
  padding: 6px 40px;
}

body.index .outline__list a {
  text-decoration: none;
  color: #000000;
  width: 200px;
}

body.index .branding__book img {
  padding-top: 2px;
  width: 90%;
  float: right;
}

body.index .branding__bg {
  background: -webkit-gradient(linear, left top, right top, from(#F8DDC5), color-stop(75%, #F8DDC5), color-stop(25%, transparent), to(transparent));
  background: linear-gradient(90deg, #F8DDC5 0%, #F8DDC5 75%, transparent 25%, transparent 100%);
}

body.index .branding h2 {
  padding-bottom: 20px;
}

body.index .branding h2 img {
  padding-top: 70px;
  width: 52%;
}

body.index .branding__page img {
  width: 100%;
}

body.index .branding ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body.index .branding__li {
  width: 31%;
}

body.index .branding li p {
  font-size: 12px;
  line-height: 1.5em;
  font-weight: 600;
  padding-bottom: 5px;
}

body.index .branding li:nth-child(1) {
  padding-top: 20px;
}

body.index .branding li:nth-child(1) img {
  width: 125%;
}

body.index .branding li:nth-child(2) {
  padding-left: 60px;
  padding-top: 20px;
  width: 60%;
}

body.index .branding__list {
  display: block;
  position: relative;
  width: 270px;
  text-align: center;
  text-decoration: none;
  color: #1B1B1B;
  border: 1px solid #1B1B1B;
  margin: 20px auto;
  margin-bottom: 140px;
  background-color: transparent;
  padding: 6px 40px;
}

body.index .branding__list a {
  text-decoration: none;
  color: #000000;
  width: 200px;
}

body.index .branding__en {
  position: relative;
  top: 20px;
}

body.index .branding__en img {
  position: absolute;
  width: 75%;
  right: 0px;
  bottom: 20px;
}

body.index .recruit__img {
  text-align: right;
}

body.index .recruit__img img {
  width: 80%;
  padding-top: 2px;
}

body.index .recruit h2 img {
  padding-top: 25px;
  width: 53%;
}

body.index .recruit p {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 13px;
  letter-spacing: 0.12em;
  font-weight: 550;
  line-height: 1.5em;
}

body.index .recruit ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

body.index .recruit ul img {
  width: 90%;
}

body.index .recruit__en {
  position: relative;
  top: 20px;
}

body.index .recruit__en img {
  position: absolute;
  width: 75%;
  right: 0px;
  bottom: 20px;
}

.branding h3 {
  margin-bottom: 70px;
}

.branding h3 img {
  width: 100%;
}

.branding .bra__service img {
  width: 100%;
  margin-bottom: 20px;
}

.branding .bra__service p {
  font-size: 12.5px;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  font-weight: 550;
  margin-bottom: 40px;
}

.branding .bra__imgtenpo {
  text-align: center;
}

.branding .bra__imgtenpo img {
  width: 70%;
  margin-bottom: 20px;
}

.branding .bra .bra__ul {
  position: relative;
}

.branding .bra .bra__ul .kuruma::after {
  right: 0;
  top: 15px;
  width: 25vw;
  border-top: 2px solid #ea5514;
  border-right: 2px solid #ea5514;
  content: "";
  height: 95%;
  position: absolute;
  z-index: 0;
}

.branding .bra .bra__ul li {
  position: relative;
  margin-bottom: 40px;
}

.branding .bra .bra__ul li:last-child {
  margin-bottom: 100px;
}

.branding .bra .bra__ul li::after {
  right: 0;
  top: 15px;
  width: 38vw;
  border-top: 2px solid #ea5514;
  border-right: 2px solid #ea5514;
  content: "";
  height: 95%;
  position: absolute;
  z-index: 0;
}

.branding .bra .bra__ul li p {
  margin: 0 auto;
  width: 270px;
  font-size: 12.5px;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  font-weight: 550;
  margin-bottom: 10px;
}

.branding .bra .bra__ul a {
  position: relative;
  display: block;
  width: 100%;
  height: 320px;
  color: black;
  border-bottom: 2px solid #EA5513;
  padding: 50px 0px;
}

.branding .bra .bra__ul a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  width: 4vw;
  height: 96%;
  border-top: 2px solid #ea5514;
  border-left: 2px solid #ea5514;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.branding .bra .bra__ul a h4 {
  position: absolute;
  left: 40px;
  top: 0;
}

.branding .bra .bra__ul a h4 img {
  width: 90%;
}

.branding .bra__domain h3 {
  margin-bottom: 30px;
}

.branding .bra__domain p {
  font-size: 12.5px;
  line-height: 1.5em;
  font-weight: 550;
  margin-bottom: 30px;
}

.branding .bra__domain_img img {
  width: 100%;
  margin-bottom: 60px;
}

.branding .bra__shops h3 {
  margin-bottom: 20px;
}

.branding .bra__shops p {
  font-size: 12.5px;
  line-height: 1.5em;
  font-weight: 550;
  margin-bottom: 30px;
  letter-spacing: 0.05em;
}

.branding .bra__shops_ul #open {
  font-size: 22px;
  padding: 10px 20px 10px;
}

.branding .bra__shops_ul #open::before {
  right: 5vw;
  bottom: 7px;
  content: "";
  display: inline-block;
  width: 8px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 5%;
  margin: auto;
  z-index: 1;
}

.branding .bra__shops_ul #open::after {
  right: 5vw;
  top: 3px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  content: "";
  display: inline-block;
  width: 8px;
  height: 1px;
  background-color: #000;
  position: absolute;
  bottom: 0;
  right: 5%;
  margin: auto;
  z-index: 1;
}

.branding .bra__shops_ul #mask {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.branding .bra__shops_ul #modal {
  background-image: url(/assets/img/index/bg_paper01.png);
  width: 330px;
  height: 330px;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-transition: -webkit-transform 0.01s;
  transition: -webkit-transform 0.01s;
  transition: transform 0.01s;
  transition: transform 0.01s, -webkit-transform 0.01s;
  z-index: 99;
}

.branding .bra__shops_ul #modal h3 {
  font-size: 11px;
  margin-top: 30px;
}

.branding .bra__shops_ul #mask.hidden {
  display: none;
}

.branding .bra__shops_ul #modal.hidden {
  -webkit-transform: translate(-500px, -500px);
          transform: translate(-500px, -500px);
}

.branding .bra__shops_ul .modal__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.branding .bra__shops_ul .modal__flex_1 img {
  padding-top: 10px;
  padding-right: 10px;
  width: 100%;
}

.branding .bra__shops_ul .modal__inner {
  padding: 0 20px;
}

.branding .bra__shops_ul .modal__inner p {
  margin: 0;
}

.branding .bra__shops_ul .btn__flex {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.branding .bra__shops_ul li {
  position: relative;
  border-bottom: 1px dotted #000000;
}

.branding .bra__shops_ul li:last-child {
  margin-bottom: 120px;
}

.branding .bra__shops_ul a {
  display: block;
  color: #000000;
  font-size: 22px;
  padding: 10px 20px 10px;
}

.branding .bra__shops_ul a::before {
  right: 5vw;
  bottom: 7px;
  content: "";
  display: inline-block;
  width: 8px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 5%;
  margin: auto;
  z-index: 1;
}

.branding .bra__shops_ul a::after {
  right: 5vw;
  top: 3px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  content: "";
  display: inline-block;
  width: 8px;
  height: 1px;
  background-color: #000;
  position: absolute;
  bottom: 0;
  right: 5%;
  margin: auto;
  z-index: 1;
}

.branding .kurumaryuutuu {
  width: 210px;
  padding-right: 20px;
}

.branding .sensya {
  width: 160px;
  padding-right: 20px;
}

.branding .picars {
  width: 120px;
}

.branding .table__back img {
  width: 100%;
  margin-bottom: 40px;
}

.branding .table__en img {
  width: 80%;
  float: right;
}

.branding .footer {
  clear: both;
}

.contact .con__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .con__flex img {
  width: 100%;
  margin-top: 130px;
  margin-bottom: 70px;
}

.contact .con__btn {
  margin-bottom: 50px;
}

.contact .con .table__back img {
  width: 100%;
}

.contact .con .modalbtn {
  border: 1px solid #000000;
  display: block;
  position: relative;
  width: 320px;
  text-align: center;
  text-decoration: none;
  color: #1B1B1B;
  border: 1px solid #1B1B1B;
  margin: 0 auto;
  background-color: transparent;
  padding: 10px 50px;
}

.contact .con .modalbtn a {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
}

.contact .con .modalbtn a::after {
  width: 7px;
  height: 7px;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 0;
  right: 40px;
  bottom: 0;
  margin: auto;
  content: "";
  display: inline-block;
  position: absolute;
}

.contact .con .modalbtn span::before {
  content: "";
  display: inline-block;
  position: absolute;
  -webkit-transition: all .5s;
  transition: all .5s;
  width: 15px;
  border-top: 1px solid #000;
  top: 50%;
  right: 50px;
}

.contact .con dt {
  font-size: 12px;
  font-weight: 550;
  margin-bottom: 10px;
}

.contact .con dl {
  padding-bottom: 40px;
  margin-bottom: 30px;
  border-bottom: 2px dotted #808080;
}

.contact .con dl:nth-last-child(1) {
  border: none;
}

.contact .con .gre__en {
  width: 70%;
  float: right;
}

.contact .con .table__back {
  margin-bottom: 120px;
}

.contact .footer {
  clear: both;
}

.gretting h3 {
  margin-bottom: 50px;
}

.gretting h3 img {
  width: 88%;
}

.gretting .gre h2 {
  margin-bottom: 25px;
}

.gretting .gre img {
  width: 100%;
}

.gretting .gre__img {
  margin: 0 auto 25px;
  width: 85%;
}

.gretting .gre__content span {
  font-size: 18px;
  font-weight: 600;
  display: block;
  padding-bottom: 15px;
}

.gretting .gre__content p {
  font-size: 11.3px;
  font-weight: 550;
  letter-spacing: 0.01em;
}

.gretting .gre__content p:nth-child(2) {
  margin-bottom: 10px;
  line-height: 1.8em;
}

.gretting .gre__content p:nth-child(3) {
  font-size: 14px;
  padding-bottom: 7px;
}

.gretting .gre__content p:nth-child(4) {
  font-size: 12.5px;
  padding-bottom: 50px;
}

.gretting .gre__people {
  padding-bottom: 20px;
}

.gretting .gre ul {
  padding-bottom: 25px;
}

.gretting .gre ul img {
  margin-bottom: 30px;
}

.gretting .gre ul span {
  display: block;
  padding-bottom: 50px;
  font-size: 12.5px;
  font-weight: 550;
  line-height: 2em;
}

.gretting .gre__en {
  text-align: right;
}

.gretting .gre__en img {
  width: 90%;
}

.gretting .table__back {
  padding-bottom: 50px;
}

body.news {
  background-image: url(/assets/img/index/bg_paper01.png);
}

body.news .table__img {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 10px;
}

body.news .table__img img {
  width: 100%;
}

body.news .table__back {
  padding-top: 130px;
}

body.news .table__back img {
  width: 100%;
}

body.news .table__en {
  padding-top: 80px;
  padding-bottom: 55px;
}

body.news .table__en img {
  float: right;
  width: 55%;
}

body.news h2 {
  padding-top: 90px;
  text-align: center;
}

body.news h2 img {
  width: 98%;
}

body.news time {
  font-size: 10px;
  color: black;
  font-weight: 550;
}

body.news h3 {
  font-size: 15px;
  color: black;
  font-weight: 550;
  padding-top: 10px;
  padding-bottom: 15px;
}

body.news p {
  font-size: 12px;
  letter-spacing: 0.1em;
  font-weight: 550;
  color: black;
  line-height: 1.4em;
}

body.slick .slick__wrap {
  max-width: 796px;
  margin: 0 auto;
  padding-top: 40px;
}

body.slick .slick__wrap img {
  width: 100%;
  height: 495px;
}

body.slick .slick__wrap p {
  font-size: 10px;
  letter-spacing: 0.38em;
  padding-bottom: 15px;
}

body.slick .slick__wrap h1 {
  font-size: 25px;
  letter-spacing: 0.45em;
  padding-bottom: 40px;
}

body.slick .single-item {
  text-align: center;
}

body.slick .single-item li {
  padding-bottom: 30px;
}

body.slick span {
  border-bottom: 1px solid;
  padding-bottom: 1px;
  font-size: 12px;
}

.outline h3 img {
  width: 70%;
  padding-bottom: 17px;
}

.outline .out__btn {
  background-color: #EA5514;
  margin: 0 auto;
  display: block;
  border: 1.2px solid #ffffff;
  padding: 6px 60px;
}

.outline .out__btn a {
  color: #ffffff;
  font-weight: 600;
}

.outline .out__box {
  width: 300px;
  margin: 0 auto 55px;
  background-color: #EA5513;
  text-align: center;
  padding-bottom: 15px;
}

.outline .out__box img {
  padding-top: 20px;
  padding-bottom: 10px;
  width: 40%;
}

.outline .out__corporate_box {
  margin-bottom: 20px;
}

.outline .out__corporate img {
  width: 100%;
  margin-bottom: 30px;
}

.outline .out__corporate dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
  font-size: 13px;
  font-weight: 550;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 1.6em;
}

.outline .out__corporate dt {
  width: 30%;
}

.outline .out__corporate dd {
  width: 70%;
}

.outline .out__corporate iframe {
  margin-bottom: 80px;
}

.outline .out__history img {
  width: 100%;
  margin-bottom: 30px;
}

.outline .out__history p {
  font-size: 12px;
  line-height: 1.5em;
  font-weight: 550;
  margin-bottom: 40px;
}

.outline .out__history th {
  font-size: 13px;
  font-weight: 550;
  color: #EA5513;
  line-height: 1em;
  position: relative;
}

.outline .out__history th::after {
  content: "";
  width: 5px;
  height: 70%;
  margin: 0 auto;
  background-color: #000;
  border-radius: 1px;
  position: absolute;
  top: 21px;
  left: 53%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.outline .out__history td {
  font-size: 13px;
}

.outline .out__history .month {
  width: 35px;
  margin-left: 5px;
  text-align: right;
}

.outline .out__history .txt {
  line-height: 1.4em;
  width: 200px;
}

.outline .out__history_box {
  margin-bottom: 5vw;
  width: 100%;
}

.outline .out__chart img {
  width: 90%;
  margin-bottom: 70px;
}

.outline .table__back img {
  width: 100%;
  margin-bottom: 40px;
}

.outline .table__en img {
  width: 80%;
  float: right;
}

.outline .footer {
  clear: both;
}

.recruit .top_logo {
  margin-bottom: 60px;
}

.recruit .top_logo img {
  width: 80%;
}

.recruit .rec img {
  width: 100%;
}

.recruit .rec__recruit h2 {
  margin-bottom: 40px;
}

.recruit .rec__recruit ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 55px;
}

.recruit .rec__recruit li {
  width: calc(100% / 3);
}

.recruit .rec__box_items h4 {
  margin-bottom: 18px;
  margin-top: 75px;
}

.recruit .rec__box_img {
  margin-bottom: 20px;
}

.recruit .rec__working img {
  margin-top: 100px;
  margin-bottom: 30px;
}

.recruit .rec__working iframe {
  margin-bottom: 90px;
}

.recruit .rec__careers img {
  margin-bottom: 30px;
}

.recruit .rec__careers dl {
  border: 1px dotted #000000;
  font-size: 13px;
  margin-bottom: 90px;
}

.recruit .rec__careers dt {
  background-color: #EA5513;
  color: #ffffff;
  padding: 10px 15px 10px;
}

.recruit .rec__careers dd {
  padding: 20px;
  line-height: 1.5em;
  font-weight: 550;
}

.recruit .rec__entry p {
  font-size: 12.5px;
  line-height: 1.5em;
  margin-bottom: 15px;
}

.recruit .rec__entry a {
  color: #EA5513;
}

.recruit .rec__entry h4 {
  margin-bottom: 25px;
}

.recruit .rec__entry li {
  margin: 0 auto;
  width: 80%;
  margin-bottom: 25px;
}

.recruit .rec__entry li:last-child {
  margin-bottom: 70px;
}

.recruit .table__back {
  text-align: center;
  margin-bottom: 40px;
}

.recruit .table__back img {
  width: 90%;
}

.recruit .gre__en img {
  float: right;
  width: 75%;
}

.recruit .footer {
  clear: both;
}

.recruit #acMenu dt {
  margin-top: 8px;
  display: block;
  cursor: pointer;
}

.recruit #acMenu dd {
  font-weight: 550;
  font-size: 12.5px;
  display: none;
  margin-top: 10px;
  line-height: 1.5em;
  letter-spacing: 0.05em;
}

.detail {
  background-image: url(/assets/img/index/bg_paper01.png);
}

.detail .table__img {
  text-align: center;
  padding-top: 35px;
  padding-bottom: 10px;
}

.detail .table__img img {
  width: 100%;
}

.detail .table__back {
  padding-top: 130px;
}

.detail .table__back img {
  width: 100%;
}

.detail .table__en {
  padding-top: 80px;
  padding-bottom: 53px;
}

.detail .table__en img {
  float: right;
  width: 55%;
}

.detail .table__li img {
  width: 100%;
  padding-bottom: 15px;
}

.detail h2 {
  padding-top: 80px;
  text-align: center;
}

.detail h2 img {
  width: 98%;
}

.detail time {
  font-size: 10px;
  color: black;
  font-weight: 550;
}

.detail h3 {
  font-size: 18.5px;
  letter-spacing: 0.05em;
  line-height: 1.5em;
  color: black;
  font-weight: 550;
  padding-top: 10px;
  padding-bottom: 30px;
}

.detail p {
  font-size: 12.5px;
  letter-spacing: 0.08em;
  font-weight: 550;
  color: black;
  line-height: 2.2em;
  padding-bottom: 50px;
}

.form .fom__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form .fom__flex img {
  width: 100%;
  margin-top: 130px;
  margin-bottom: 70px;
}

.form .fom__list {
  width: 100%;
  display: block;
  position: relative;
  width: 270px;
  text-align: center;
  text-decoration: none;
  color: #1B1B1B;
  border: 1px solid #1B1B1B;
  margin: 20px auto;
  margin-bottom: 56px;
  background-color: transparent;
  padding: 6px;
}

.form .fom__list a {
  text-decoration: none;
  color: #000000;
  width: 200px;
}

.form .fom__list span {
  font-size: 16px;
}

.form .fom__form_p {
  font-size: 12px;
  letter-spacing: 0.07em;
  font-weight: 550;
  padding-bottom: 15px;
  border-bottom: 1px dotted #888888;
}

.form .fom__post {
  border-bottom: 1px dotted #888888;
  font-weight: 550;
  padding-bottom: 10px;
  padding-top: 30px;
}

.form .fom__post:nth-child(n+14) {
  border: none;
}

.form .fom__post input {
  width: 320px;
  height: 40px;
}

.form .fom__post textarea {
  width: 320px;
  height: 140px;
}

.form .fom__post .privacy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  margin: 0 auto;
  width: 300px;
  margin-bottom: 50px;
}

.form .fom__post .privacy input {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.form .fom__post .hensin input {
  width: 20px;
  height: 20px;
}

.form .fom__post .hensin input tel::before {
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid #e95412;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.form .fom__post .yubin {
  position: relative;
}

.form .fom__post .yubin input {
  width: 170px;
  height: 40px;
  border: 1px solid #888888;
}

.form .fom__post .yubin button {
  position: absolute;
  top: 5px;
}

.form .fom__post span {
  color: #EA5513;
  margin-left: 10px;
}

.form .fom__post a {
  color: #EA5513;
}

.form .fom__post_title {
  padding-bottom: 20px;
}

.form .fom__post_button {
  background-color: #EA5513;
  color: #ffffff;
  font-size: 13px;
  font-weight: 550;
  border: none;
  padding: 4px 10px;
  margin-left: 20px;
}

.form .fom .gre__en {
  width: 70%;
  float: right;
}

.form .fom .table__back {
  margin-bottom: 120px;
}

.form .fom .table__back img {
  width: 100%;
}

.form .fom .footer {
  clear: both;
}
/*# sourceMappingURL=style.css.map */