// Font
$gothic: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
$noto: 'Noto Serif JP', serif;

// color
$orange: #EA5513;
$black: #000000;

body {
    background-image: url(/assets/img/index/bg_paper01.png);
}

hr {
    border: none;
    border-top: 3px $orange solid;
    margin: -2px;
}
.u__line {
    border: none;
    border-top: 11.5px $orange solid;
    margin: -2px;
}
.dot {
    clear: both;
    border-top: 1px dotted black;
    border-right: none;
    border-bottom: none;
    border-left: none;
    padding-bottom: 30px;
}








.inner {
    margin-left: 25px;
    margin-right: 25px;
}


a {
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}
